.follow {
    position: relative;
    display: block;
    width: 100vw;
    background-image: url(./images/follow-desktop/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.follow-container {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.follow-title {
    position: relative;
    font-family: 'Bungee';
    font-size: 2.5em;
    line-height: 2em;
    color: #FFFFFF;
    text-shadow: 0px 4px 0px #001A73;
    text-align: center;
}

.follow-text {
    position: relative;
    width: 60%;
    font-size: 1em;
    line-height: 1.3em;
    font-family: 'Montserrat';
    color: #FFFFFF;
    text-align: center;
}

.techhunt-logo {
    position: relative;
    width: 15%;
    height: 0;
    padding-top: 15%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./images/follow-desktop/techhunt-logo.png');
    cursor: pointer;
}

.follow-btn-container {
    position: relative;
    display: flex;
    padding: 10px 20px;
    background: #1947E6;
    border: 2px solid #18191F;
    box-shadow: 0px 4px 0px #18191F;
    width: 15%;
    max-width: 260px;
    border-radius: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.follow-btn-icon {
    position: relative;
    width: 10%;
    padding-top: 10%;
    height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./images/follow-desktop/follow-btn.png');
}

.follow-btn-text {
    position: relative;
    width: 85%;
    margin-left: 5%;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3em;
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .techhunt-logo {
        margin: 5px 0;
    }

    .follow-btn-container {
        width: 20%;
        padding: 10px 15px;
    }
}