.subscribe {
    position: fixed;
    width: 25%;
    bottom: 5%;
    right: 5%;
    display: block;
    z-index: 100;
}

.subscribe-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.subscribe-img {
    position: relative;
    width: 30%;
    padding-top: 28%;
    margin-right: 8%;
    height: 0;
    background-image: url('./images/subscribe-desktop/heart-subscribe.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-follow-box {
    position: relative;
    padding: 10px 20px;
    width: 100%;
    border: 2px solid #18191F;
    border-radius: 24px;
    box-shadow: 0px 2px 0px #18191F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FF89BB;
}

.subscribe-follow-box-content {
    position: relative;
    width: 45%;
    font-size: 0.6em;
    line-height: 1.5em;
    color: #18191F;
}

.subscribe-follow-box-input {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px 6px 6px 6px;
    border: 2px solid #18191F;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.subscribe-follow-box-form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subscribe-follow-box-input-field {
    position: relative;
    display: block;
    font-size: 0.6em;
    width: 53%;
    border: none;
    background-color: #FFFFFF;
    color: #18191F;
}

.subscribe-follow-box-btn {
    width: 45%;
    position: relative;
    display: block;
    background-color: #18191F;
    font-size: 0.6em;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px 0 8px 0;
    text-align: center;
}